<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practicewizards">
    <!-- Camera Permissions -->
    <!-- For regular rear-facing camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- For front facing -->
    <uses-feature android:name="android.hardware.camera.front" /> <!-- may need android.hardware.camera.level.full -->
    <uses-feature android:name="android.hardware.camera" /> <!-- added to allow writing to external storage, allow write and read -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- added to allow reading -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:alwaysRetainTaskState="true"
        android:icon="@mipmap/bbb_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bbb_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PhotoTest" />
        <activity android:name=".GroupActivity"
            android:parentActivityName=".SplashScreen">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GroupActivity" />
        </activity>
        <activity
            android:name=".SelfieAcitivity"
            android:parentActivityName=".GroupActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GroupActivity" />
        </activity> <!-- Merging -->
        <activity
            android:name=".MergeActivity"
            android:parentActivityName=".SelfieAcitivity" />
    </application>

</manifest>